.card {
    width: 250px;
    border: solid 1px silver;
    color: #313131;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 18px;
}

p {
    font-size: 14px;
}

img {
    border-radius: 50%;
    width: 100%;
}